<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869357022518-js5hc6cnfv2rti3ke3pr4qtto77afucr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869357022518-js5hc6cnfv2rti3ke3pr4qtto77afucr</string>
	<key>API_KEY</key>
	<string>AIzaSyD3TCBt1LoC17p6xlRtD1lAo6x_qm4aQxU</string>
	<key>GCM_SENDER_ID</key>
	<string>869357022518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.f4ni.newsapp</string>
	<key>PROJECT_ID</key>
	<string>newsapp-ios-5c8b4</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-ios-5c8b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869357022518:ios:141d9df0811d648b221797</string>
</dict>
</plist>